<div class="whole">
  <div class="container">
    <h1 class="title">FORM SUBMISSION</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
            <div class="form-group">
              <label for="username"><b>Username:</b></label>&nbsp;
              <input type="text" id="username" class="form-control" ngModel name="username" required minlength="5">
              <button type="button" class="btn" (click)="suggestUserName()">Suggest a Username</button><br>
              <label for="pass"><b>Password:</b></label>&nbsp;
              <input type="password" id="pass" class="form-control" ngModel name="pass">
            </div>
            <br><hr size="1px" color="gray"><br>
            <div class="form-group">
              <label for="email"><b>Email:</b></label>&nbsp;
              <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel"><br>
              <span *ngIf="!email.valid && email.touched" class="warning">Please enter a valid email.</span><br>
              <label for="phone"><b>Phone:</b></label>&nbsp;
              <input type="number" id="phone" class="form-control" ngModel name="phone">
            </div>
            <br><hr size="1px" color="gray">
          </div>
          <div id="other-Info" ngModelGroup="otherInfo" #otherInfo="ngModelGroup">
            <div class="form-group">
              <label for="secret"><b>Secret Question:</b></label><br>&nbsp;
                <select id="secret" class="form-control" ngModel name="secret">
                  <option value="pet">Your first Pet?</option>
                  <option value="teacher">Your first teacher?</option>
                  <option value="town">What town was your mother born in?</option>
                  <option value="father">What is your father's name?</option>
                </select><br>
              <textarea name="ans" rows="3" class="form-input" [(ngModel)]="ans">
              </textarea> <br>
            </div>
            <div class="form-group">
              <b>Gender:</b><br>
              <label for="genders" *ngFor="let gender of genders">
                <input 
                type="radio" 
                name="genders" 
                ngModel
                [value]="gender" 
                ngModel name="gender"
                /> 
                {{gender}}
              </label>
            </div>
            <br><hr size="1px" color="gray"><br>
            <div class="form-group">
              <label for="job"><b>Job:</b></label>&nbsp;
                <input type="text" id="job" class="form-control" ngModel name="job"><br>
              <label for="jobDes"><b>Job Description:</b></label>&nbsp;
                <input type="text" id="jobDes" class="form-control" ngModel name="jobDes"><br>
              <label for="salary"><b>Salary:</b></label>&nbsp;
              <input type="number" id="salary" class="form-control" ngModel name="salary"><br><br>
            </div>
          </div>
          <button [disabled]="!f.valid" class="btn btn-primary" type="submit"><b>Submit</b></button>
        </form>
      </div>
    </div>
  </div>
  <div class="another-container" *ngIf="submitted">
    <div class="another-box">
      <h1>INFORMATION RESULT</h1>
      <p><b>&nbsp;&nbsp;&nbsp;Username:</b> {{user.username}}</p>
      <p><b>&nbsp;&nbsp;&nbsp;Password:</b> {{user.pass}}</p>
      <hr>
      <p><b>&nbsp;&nbsp;&nbsp;Email:</b> {{user.email}}</p>
      <p><b>&nbsp;&nbsp;&nbsp;Phone Number:</b> {{user.phone}}</p>
      <hr>
      <p><b>&nbsp;&nbsp;&nbsp;Secret Question:</b> {{user.secretQuestion}}</p>
      <p><b>&nbsp;&nbsp;&nbsp;Secret Answer:</b> {{user.answer}}</p>
      <p><b>&nbsp;&nbsp;&nbsp;Gender:</b> {{user.gender}}</p>
      <hr>
      <p><b>&nbsp;&nbsp;&nbsp;Job:</b> {{user.job}}</p>
      <p><b>&nbsp;&nbsp;&nbsp;Job Description:</b> {{user.jobDes}}</p>
      <p><b>&nbsp;&nbsp;&nbsp;Salary:</b> Php {{user.salary}}</p>
    </div>
  </div>
</div>